*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: "SF Pro Text"; 
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

